body {
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow-x: hidden;
}

header {
  text-align: center;
  align-items: center;
  display: flex;
  background-color: rgb(46, 11, 11);
}

h2 {
  color: white;
  text-align: center;
  padding-top: 12%;
}

a.navbar {
  background-color: rgb(46, 11, 11);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5%;
  width: 8%;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%);
}

#btn_login{
  margin-top: 13%;
  margin-bottom: 0%;
}

.rodape{
  color: white;
}

footer{
  border-top-right-radius: 4cap;
  border-top-left-radius: 4cap;
  margin-top: 10%;
  background-color: rgb(46, 11, 11)
}

div.calendary {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  label {
    display: inline-block;
    width: 300px;
  }
  
  input:invalid + span:after {
    content: "✖";
    padding-left: 5px;
  }
  
  input:valid + span:after {
    content: "✓";
    padding-left: 5px;
  }

  input.datas{
    display: flex;
    padding-bottom: 2%;
  }
  
  label.horas {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label.horas {
    margin: 0.4rem 0;
  }
  