body {
    background-color: rgb(255, 255, 255);
}

header {
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(46, 11, 11);
}

li {
    color: rgb(0, 0, 0);
}

a.navbar {
    background-color: rgb(46, 11, 11);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5%;
    width: 100px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 2%;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 12%;
    
}
p {
    text-align: justify;
    color: rgb(0, 0, 0);
}

footer {
    background-color: rgb(46, 11, 11);
}

.rodape{
    color: white;
}

#btn_login{
    margin-top: 13%;
    margin-bottom: 0%;
}

.title{
    font-weight: bold;
}

footer{
    margin-top: 10%;
}