body {
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow-x: hidden;
}


header {
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(46, 11, 11);
}

a.navbar {
    background-color: rgb(46, 11, 11);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5%;
    width: 110px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 2%;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 12%;
}

p {
    text-align: justify;
    color: rgb(0, 0, 0);
}

.polaroid {
    margin-left: 50% ;
    transform: translate(-50%);
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.texto {
    text-align: justify;
    padding: 10px 20px;
}

.rodape{
    color: white;
}

#btn_login{
    margin-top: 13%;
    margin-bottom: 0%;
}

.title{
    font-weight: bold;
}

footer{
    margin-top: 5%;
    background-color: rgb(46, 11, 11)
}



.list-type5 {
    width:410px;
    margin:0 auto;
}

.list-type5 ol {
    list-style-type: none;
    list-style-type: decimal; 
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
}

.list-type5 ol li {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color: rgb(46, 11, 11);
    padding-left: 58px;
}
    
.list-type5 a {
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-size:15px;
    font-family: 'Raleway', sans-serif;
}
    
.list-type5 li:hover {
    box-shadow:inset -1em 0 #8b0000;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
    
.list-type5 ol li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #8b0000;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}