#bg{
    background-color: rgb(46, 11, 11);
    height: 500px;
    width: 40%;
    border-radius: 5%;
    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%);
}

#logo{
    width: 30%;
    height: 90%;
    margin-left: 50%;
    transform: translate(-50%);
}

.label{
    color: white;
    font-size: 14pt;
}

#email{
    width: 45%;
}

#senha{
    width: 44%;
}

#check{
    margin-top: 5%;
}

#label_check{
    color: white;
}

#forgot{
    text-decoration: none;
    padding-top: -50%;
    padding-left: 30%;
}
