#bg{
    background-color:rgba(0, 0, 0, 0.719);
    border: red 2px solid;
    height: 450px;
    width: 30%;
    border-radius: 5%;
    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%);
}

#logo{
    width: 30%;
    height: 90%;
    margin-left: 50%;
    transform: translate(-50%);
}

.label{
    color: white;
    font-size: 14pt;
    padding-left: 10%;
}

#email{
    width: 45%;
}

#senha{
    width: 44%;
}

#check{
    margin-top: 5%;
    padding-left: 5%;
}

#label_check{
    color: white;
}

#forgot{
    text-decoration: none;
    padding-top: -90%;
    padding-right: 30px;
}
