header {
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(46, 11, 11);
}

h2 {
    color: white;
    text-align: center;
    padding-top: 12%;
}

p {
    text-align: justify;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
}

.nome-barbearia{
    font-size: 130%;
    color: white;
    text-align: center;
    padding-top: 7%;
}

#btn_login{
    margin-top: 5%;
    margin-bottom: 1%;
}

a.navbar {
    background-color: rgb(46, 11, 11);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5%;
    width: 8%;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
  
div.polaroid2 {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

footer{
    border-top-right-radius: 4cap;
    border-top-left-radius: 4cap;
    margin-top: 5%;
    background-color: rgb(46, 11, 11)
}

.rodape{
    color: white;
}